@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-image: linear-gradient(to right, #785482, #7b6092, #7c6ca2, #7b79b1, #7a86c0, #6d92cd, #5d9fd6, #4babdd, #26b9da, #22c4d0, #48cebf, #72d6ab);

    font-family: 'Poppins', sans-serif;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    border-radius: 20px;
    margin-top: 40px !important;
    width: 24% !important;
    background-color: white !important;
    padding: 50px;
}

.btn-primary {
    width: 100%;
    border: none;
    border-radius: 50px;
}

.form-control {
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}

h4 {
    font-size: 2rem !important;
    font-weight: 700;
}

.form-label {
    font-weight: 800 !important;
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    form {
        width: 100% !important;
    }
}


.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 18em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}